* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  display: grid;
  max-height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 50px;
  grid-template-areas:
    "title"
    "image"
    "button"
    "footer";
  gap: 10px;
}
.container h1 {
  grid-area: title;
  text-align: center;
  margin: 20px;
  font-size: 32px;
  color: #3c3c3c;
}

.target img {
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  grid-area: image;
}
.target {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}
body {
  font-family: "MonoLisa", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #3c3c3c;
}

.btn {
  grid-area: button;
  display: block;
  margin-bottom: 8px;
  justify-self: center;
  width: 150px;
  background-color: #3c3c3c;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #555;
}
.btn:active {
  background-color: #222;
}
.gen-btn {
  grid-area: button;
}
.download {
  grid-area: download;
}

.bottom-corner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.bottom-corner .btn {
  width: auto;
  padding: 8px 12px;
  font-size: 14px;
  text-transform: uppercase;
}
.mode {
  position: fixed;
  width: auto;
  margin: 0;
  top: 10px;
  right: 10px;
}
.footer {
  grid-area: footer;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}
