* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  max-height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 50px;
  grid-template-areas:
    "title"
    "image"
    "button"
    "download";
  gap: 10px;
}
.container h1 {
  grid-area: title;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #3c3c3c;
}

.cat-target img {
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  grid-area: image;
}
.cat-target {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #3c3c3c;
}

.btn {
  justify-self: center;
  width: 150px;
  background-color: #3c3c3c;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #555;
}
.btn:active {
  background-color: #222;
}
.cat-btn {
  grid-area: button;
}
.download {
  grid-area: download;
}
